numpy==1.26.4
matplotlib==3.8.4 
PyYAML==6.0.1
gym==0.26.2
Cython==0.29.30
mujoco-py==2.1.2.14
gtimer==1.0.0b5 
torch==2.3.0
torch-geometric==2.5.3
torchvision==0.18.0
openseespy==3.5.1.12
git+https://github.com/rail-berkeley/rlkit